@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  /* font-family: 'Itim', cursive;
font-family: 'Roboto Mono', monospace;
font-family: 'Source Code Pro', monospace;
font-family: 'Ubuntu', sans-serif;
font-family: 'Unbounded', cursive; */

  body {
    font-family: 'Roboto Slab'
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}